@import "tailwindcss";



/* Optional: rounded + smooth scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #dc2626; /* red-600 */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #111827; /* gray-900 */
  border-radius: 9999px;
}
